*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#mainTable {
    margin-top: 30px;
    margin-left: 30px;
}
#mainTable td{
    padding-bottom: 10px;
    padding-right: 20px;
}



button{
    position:fixed;
    right: 5px;
    top:60px;
    padding: 2px 25px ;
    border-radius: 7px;
    border: none;
    background-color:  #c8464a;
    color:white;
    cursor: pointer;

}
button:hover{
    background-color: #ce0e18;
}
main{
    font-size: 12px;
    /* margin-right: 40px;
    border-right: #bd2228;
    background-color: #bd2228; */
    /* margin-right: 50px; */
    /* border-right: solid 1px #bd2228; */
    /* padding-left: 50px; */
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hr-column {
    width: 1px;
    height: 105%;
    background: #bd2228;
    margin-right: 50px;
}

#sidebar_1{
    background-color:#cfcccc;
}

.sidebar_pointer{
    cursor: pointer;
}

.sidebar_pointer:hover{
    background-color:#cfcccc;
}

/* #mainContent{
    margin-right: 40px;
    border-right: #bd2228;
    background-color: #bd2228;
} */
