*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.item{
    /* background-color: gold; */
    /* border: 1px solid #bb2227; */
    min-height: 50px;
}

.container{
    display: grid;
    min-height: 100vh;
    grid-template-rows: 100px 1fr 60px;
    grid-template-columns: 270px 13fr 1fr;
    grid-template-areas: 
    "header header  header"
    "sidebar_left  content sidebar_right"
    "footer footer footer";
    min-height: 100vh;
}

.item-1{
    grid-area: header;
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    border: none;
    border-bottom: #bb2227 solid 1px;
    background-color: white;
    /* position:fixed;
    top:0;
    z-index: 1000; */
}

.box{
    height: 100px;
    /* flex-basis: 270px; */
    position:relative;
    
}
.box_1{
    /* background-color: aqua; */
    width: 270px;
}

.box_2{
    /* background-color: blue; */
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.box_3{
    /* background-color: red; */
    width: 200px;
    position: relative;
}




.item-2{
    grid-area: sidebar_left;
    border-right: solid 1px #bb2227;
}
.item-3{
    grid-area: content;
    /* z-index: -1; */
    position: relative;
}
.item-4{
    grid-area: sidebar_right;
    border-left: solid  1px #bb2227;
}
.item-5{
    grid-area: footer;
    /* position: fixed;
    bottom: 0; */
    background-color: white;
    border-top: 1px solid #bb2227;
}


/* Css chi tiet cho Item1 (header) */
#img1 {
    padding: 0;
    height: 98.5px;
    margin: 0;
}


#quote {
    position: absolute;
    top:65px;
    left: 100px;
    font-style: italic;
}

#btn_logout {
    position:absolute;
    right: 30px;
    top:50px;
    width: 130px;
    padding: 7px 25px ;
    border-radius: 7px;

    border:none;
    
    
    background-color: #c8464a;
    color:#f8f9fa;
    text-decoration: none;
    cursor: pointer;
}
#btn_logout:hover {
    background-color:#ce0e18;
}

/* Css cho phan content */
#row_1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#row_2{
    display: flex;
    justify-content: space-between  ;
    margin-bottom: 15px;
}

#row_2_addNew{
    background-color:#bb2227;
    color: white;
    border-left: solid 3px rgb(231, 125, 125);
    margin-left: 10px;
    padding: 2px 13px;
    font-size: 14px;
    cursor: pointer;
}

#row_2_addNew:hover{
    background-color: #d9a4a4;
}

#row_2_search input{
    width: 300px;
    height: 20px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 3px;
}

#row_2_btnSearch{
    background-color: #919191;
    padding: 2px 13px;
    border: none;
    border-radius: 2px;
}

/* Css table trong maincontent */

#row_3{
    display: flex;
    justify-content: center;
}

#row_3 table{
    width: 800px;
}
#row_3 table,  #row_3 th, #row_3 td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 12px;
    padding: 3px 10px;
}



/* Css cho form them moi */
/* * {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
} */

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
} */

.modal {
    display: none;
    background-color: white;
    padding: 20px;
    border: 1px solid #000;
    width: 700px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: absolute;
    left: 120px;
    top:50px;
}



.modal h2 {
    text-align: left;
    font-size: 16px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

label {
    width: 150px;
    font-size: 14px;
    color: black;
    display: inline-block;
    text-align: left;
    margin-right: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 3px;
}

input[type="radio"] {
    margin-left: 10px;
    margin-right: 5px;
}

.required {
    color: red;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 8px 20px;
    margin: 0 10px;
    background-color: #ccc;
    border: 1px solid #000;
    border-radius: 0;
    cursor: pointer;
}




button[type="button"] {
    background-color: #ddd;
}

button:hover {
    background-color: #bbb;
}

/* Radio button alignment */
.form-group.radio-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.radio-group label {
    display: inline-block;
    margin: 0;
    font-size: 14px;
}

.radio-group .radio-label {
    margin-left: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
}

#x-btn-addnewform{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color:none;
    color: #458f95;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

#x-btn-addnewform:hover{
    background-color: #ff0000;
    color: white;
}




/* Css cho sidebar_left */
#sidebar {
    
    position: fixed;
    height: 100%;
    padding-top:100px;
    padding-bottom:100px;
    border-right: solid 1px #bb2227;
    margin-bottom: 100px;
    border-bottom: solid 1px #bb2227;
}

.sidebar_padding{
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    color:#bb2227;
    border-bottom: solid 2px #bb2227;

}
.sidebar_table{
    margin-top:30px;
    margin-left: 20px;
}

#sidebar_2{
    background-color:#cfcccc;
}

.sidebar_pointer{
    cursor: pointer;
}

.sidebar_pointer:hover{
    background-color:#cfcccc;
}
